.Logo{
    color: white;
    margin-left: 18px;
    text-transform: capitalize;
    font-family: Rokkitt, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    display: flex;
    align-self: stretch;
    text-align: left;


}